# ---------------------------------------------------------------------------- #
# Git
# ---------------------------------------------------------------------------- #

.git
.gitignore


# ---------------------------------------------------------------------------- #
# Laravel
# ---------------------------------------------------------------------------- #

vendor/
node_modules/

.env
.env.*

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*


# ---------------------------------------------------------------------------- #
# IDE
# ---------------------------------------------------------------------------- #

.idea/
.vscode/


# ---------------------------------------------------------------------------- #
# OS
# ---------------------------------------------------------------------------- #

.DS_Store
Thumbs.db


# ---------------------------------------------------------------------------- #
# Docker
# ---------------------------------------------------------------------------- #

docker-compose*.yml


# ---------------------------------------------------------------------------- #
# Testing
# ---------------------------------------------------------------------------- #

.phpunit.result.cache
coverage/