# ---------------------------------------------------------------------------- #
# Laravel
# ---------------------------------------------------------------------------- #

.env
.env.*
!.env.example


/vendor/


/storage/*.key


# Ignore runtime files
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*


/bootstrap/cache/*
!/bootstrap/cache/.gitignore



# ---------------------------------------------------------------------------- #
# Node / Frontend
# ---------------------------------------------------------------------------- #

/node_modules/

npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log



# ---------------------------------------------------------------------------- #
# Testing
# ---------------------------------------------------------------------------- #

.phpunit.result.cache
.phpunit.cache
coverage/



# ---------------------------------------------------------------------------- #
# IDE / Editors
# ---------------------------------------------------------------------------- #

.idea/
.vscode/

*.swp
*.swo



# ---------------------------------------------------------------------------- #
# Operating System
# ---------------------------------------------------------------------------- #

.DS_Store
Thumbs.db



# ---------------------------------------------------------------------------- #
# Docker
# ---------------------------------------------------------------------------- #

docker-compose.override.yml



# ---------------------------------------------------------------------------- #
# Build / Runtime
# ---------------------------------------------------------------------------- #

*.log
*.cache

/public/hot
/public/storage



# ---------------------------------------------------------------------------- #
# Laravel Telescope / Debug tools
# ---------------------------------------------------------------------------- #

/storage/debugbar/



# ---------------------------------------------------------------------------- #
# Temporary files
# ---------------------------------------------------------------------------- #

*.tmp
*.temp
